/*
 * https://github.com/remonbonbon/brackets-theme-neon-sign/blob/master/main.less
 *
 */

body {
    background-color: #050505;
    font-family: "JetBrains Mono";
    font-size: large;
}

body,
a {
    color: #f6acff;
    text-shadow: 1px 1px 8px #c400ff;
}
